.page-photos_heading {
    height: 0px;
    opacity: 0;
}

.page-photos_description {
    text-align: center;
    font-size: 12px;
}

.page-photos_image_wrapper {
    max-height: 45rem;
    max-width: 45rem;
}

.page-photos_image {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
    background-color: rgb(241, 241, 241);
}
